
//------------------------------couleur background---------------------------------

$couleur_background-body : #e9e7e0;
$couleur_background-H1:  #691a8b;
$couleur_background-footer:#691a8b;

//---------------------------------------------------------



//------------------------------couleur police---------------------------------

$couleur_police-nav-h1:#bf6e3f;
$couleur_police-dateStamp : #9f9995;
$color__link-visited :   #bf6e3f;  
$color__link-hover :  #bf6e3f;
$color__police-footer: #ffffff;

//-------------------------------------------------------------




//------------------------------couleur boutton---------------------------------
    $color__border-button :  #000000;
    $color__background-button :  #8c8a9a;
    $color__border-button-focus : #fc7537;
    $color__border-button-hover : #691a8b;

//-----------------------------------------------------------



//------------------------------couleur fields input text---------------------------------

$color__text-input : #000000;
$color__border-input :#fc7537 ;
$color__text-input-focus:#fc7537 ;

//-----------------------------------------------------------




//------------------------------couleur hr (ligne horizontale)---------------------------------

$color__background-hr : #f6976a ;

$color__nav-a-underline:  #691a8b;

//-----------------------------------------------------------



//--------------------------couleur simple---------------------------------

$color__background-pre :  #f6976a;

$color__border-abbr : #000000 ;
$color__background-ins : #f6976a;
