$police__main : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$police__titre-principale : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$police__sous-titre : Verdana, Geneva, Tahoma, sans-serif;

