$police__main : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$police__titre-principale : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$police__sous-titre : Verdana, Geneva, Tahoma, sans-serif;

$police_taille-titre-page : 45px;
$police_taille-titre-article : 35px;
$police_taille-sous-titre : 25px;
$police_taille-text :19px;
$police_taille-stamp :14px;


