// .site__footer{
//  
    
//   // width: 100%;
    
// }

.site__footer{
  position: sticky;
  display: flex; 
  text-align: center;
 // flex-direction: column;
  justify-content: space-evenly;
background-color: $couleur_background-footer;
align-items: center;
}
.site__footer div{
 margin-right: 20px;

  color: $color__police-footer;
  flex:1;
}
.site__footer img{
  position: relative;
  object-fit:cover ;
}
.lien-footer{
 

}



.citation p{
  color:$couleur_police-nav-h1;
  font-size: $police_taille-sous-titre;
}


.citation cite{
  color: $color__police-footer ;
  font-size: $police_taille-text;
}
.menu{
    list-style: none;
   margin-bottom: $espacement_petit;
}

.menu li{
  margin-bottom: $espacement_mini;
}