// .site__footer{
//  
    
//   // width: 100%;
    
// }

.site__footer{
  position: sticky;
  display: flex; 
  text-align: center;
 // flex-direction: column;
  justify-content: space-around;
background-color: $couleur_background-footer;
}
.site__footer div{
 margin-right: 20px;

  color: $color__police-footer;
  flex:1;
}
.site__footer img{
  position: relative;
  object-fit:cover ;
}
.lien-footer{
  margin-bottom: $espacement_mini;
}
