.grid_cours{
    display:flex;
   gap: 30px;
   flex-wrap: wrap;
}
.liste_cours{
 flex:0 1 calc(50% - 30px);
//  border-top: 2px solid $color__background-hr ;
 border-bottom: 2px solid $color__background-hr ;
 margin-bottom: 30px;

 h2{
    border-left:2px solid $color__nav-a-underline ;
    padding-left: 15px;
 }
}
