.menu__evenement{
   
       background-color:#5c8162 ;
       border-radius: 20px;
       box-shadow: inset 0 0 20px #691a8b;
}

.menu__evenement .menu{
    list-style-type: none;
    display: flex; 
    

}

.menu__evenement .menu-item{

    width: 25% ;
}
.evenement__porte{
 
}
.evenement__projet{
    
}
.evenement__stage{}