.menu__aside{
    display: flex;
    position: absolute;
    width: 100vw;
    top:0;
    transform: translateX(-100vw);
    transition: transform 0.6s;
    z-index: 90;
    @media screen and (min-width:700px) {
        position: static;
        transform: translateX(0);
        
        
    }
    
         //background-color: $couleur_background-aside-nav;
      
        margin-left: 5px;


    .menu{


            text-decoration: none;
            list-style-type: none;
            color: $color__police-nav;

             background-color: $couleur_background-aside-nav;
             padding:$espacement_petit;
             border-radius: 20px;
             box-shadow: inset 0 0 20px #691a8b;


                li{
                    margin-bottom: $espacement_mini;
                    font-size:$police_taille-side-nav;
                    
                
            
                }
            
    }
          
}

.bar_recherche{
    margin-bottom: 15px;
    margin-left: 48px;
    background-color: purple;
}
.ytp-title-link {
    margin-left: 48px;
}

.chk-burger:checked ~ .burger {
    transform: rotate(180deg);

}


.chk-burger:checked ~ .menu__aside {
    transform: translateX(0);


}

.burger{ 
    position: absolute;
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;   
    top: 195px;
    right:70px; 
    transform: rotate(0deg);
    transition: transform 0.6s;
    z-index: 100;

@media screen and(min-width:700px) {
    display: none;
}


}

.hidden{
    display: none;
}


