.menu__aside{
    
         //background-color: $couleur_background-aside-nav;
      
        margin-left: 5px;

    .menu{


            text-decoration: none;
            list-style-type: none;
            color: $color__police-nav;

             background-color: $couleur_background-aside-nav;
             padding:$espacement_petit;
             border-radius: 20px;
             box-shadow: inset 0 0 20px #691a8b;


                li{
                    margin-bottom: $espacement_mini;
                    font-size:$police_taille-side-nav;
                    
                
            
                }
            
    }
          
}

.bar_recherche{
    margin-bottom: 15px;
    margin-left: 48px;
    background-color: purple;
}
.ytp-title-link {
    margin-left: 48px;
}
