h1{
    font-family: $police__titre-principale;
    font-size: $police_taille-titre-page;
    text-align: center;

}

h2, h3, h4, h5, h6{
 font-family: $police__sous-titre ;
}


.site-description{
    text-align: center;
}