h1{
    font-family: $police__titre-principale;
    font-size: $police_taille-titre-page;
    text-align: center;
    background-color: $couleur_background-H1;
    color:$couleur_police-nav_h1 ;

}

h2, h3, h4, h5, h6{
 font-family: $police__sous-titre ;
}


.site-description{
    text-align: center;
    margin-bottom: $espacement_petit ;
}